<html>
    <head>
        <title>Tasks Due</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    </head>

    <body>
        <p class="card-title">Intermission...</p>
    </body>
</html>

<!-- There isn't anything interesting in this file -->